.app-icon {
    display: block;
    height: 65px;
    width: 65px;
    background-size: cover;
    border: none;
    background-color: transparent;
    padding: 0;
}

.app-name {
    width: 100%;
    display: inline-block;
    text-align: center;
}