<div>
    <span class="float-right">
        <span class="fas fa-wifi"></span>
        100%
        <span class="fas fa-battery-full"></span>
    </span>

    <span>
        {{date | date: 'h:mm E LLL d'}}
    </span>
</div>

<div class="desktop-grid">
    <app-home-screen-app appName="Facetime" background="../../assets/facetime.png"></app-home-screen-app>
    <app-home-screen-app appName="Calendar">
        <div class="calendar-icon">
            <div class="calendar-day">
                {{date | date: 'EEEE'}}
            </div>
            <div class="calendar-date">
                {{date | date: 'd'}}
            </div>
        </div>
    </app-home-screen-app>
    <app-home-screen-app appName="Photo" background="../../assets/photos.png"></app-home-screen-app>
    <app-home-screen-app appName="Camera" background="../../assets/camera.png"></app-home-screen-app>
    <app-home-screen-app appName="Contacts" background="../../assets/contacts.png"></app-home-screen-app>
    <app-home-screen-app appName="Clock">
        <div class="clock-icon">
            <div class="clock-background">
                <div class="clock-numbers">
                    <span class="number twelve">12</span>
                    <span class="number one">1</span>
                    <span class="number two">2</span>
                    <span class="number three">3</span>
                    <span class="number four">4</span>
                    <span class="number five">5</span>
                    <span class="number six">6</span>
                    <span class="number seven">7</span>
                    <span class="number eight">8</span>
                    <span class="number nine">9</span>
                    <span class="number ten">10</span>
                    <span class="number eleven">11</span>
                </div>

                <div class="clock-hands">
                    <span class="hand hour" [ngStyle]="hourHandStyle"></span>
                    <span class="hand minute" [ngStyle]="minuteHandStyle"></span>
                    <span class="hand second" [ngStyle]="secondHandStyle"></span>
                </div>
            </div>
        </div>
    </app-home-screen-app>
    <app-home-screen-app appName="Maps" background="../../assets/maps.png"></app-home-screen-app>
    <app-home-screen-app appName="Home"></app-home-screen-app>
    <app-home-screen-app appName="Notes" background="../../assets/notes.png"></app-home-screen-app>
    <app-home-screen-app appName="Reminders" background="../../assets/reminders.png"></app-home-screen-app>
    <app-home-screen-app appName="News" background="../../assets/newsstand.png"></app-home-screen-app>
    <app-home-screen-app appName="Stocks" background="../../assets/stocks.png"></app-home-screen-app>
    <app-home-screen-app appName="TV"></app-home-screen-app>
    <app-home-screen-app appName="iTunes Store" background="../../assets/itunes.png"></app-home-screen-app>
    <app-home-screen-app appName="App Store" background="../../assets/appstore.png"></app-home-screen-app>
    <app-home-screen-app appName="Books"></app-home-screen-app>
    <app-home-screen-app appName="Settings" background="../../assets/settings.png"></app-home-screen-app>
</div>

<router-outlet></router-outlet>
